.SignIn{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-style: 700;
}
body {
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
::-webkit-scrollbar-thumb {
    background: #888;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
button{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-style: 700;
    border-style: solid #333333;
    border-radius: 5px;
}

.upgrade {
    position: absolute;
    top: 10px;
    font-size: 30;
    animation: 1s upgradeSlideIn;
}
@keyframes upgradeSlideIn {
    from {
        top:-100px;
    }
    to {
        top:10px;
    }
}